<div class="pl-4">
    <h1 class="text-6xl mb-2">Tutorial - Page 1</h1>
    <p class ="mb-6"">Here is the first thing you need to know about this website</p>
    <a asp-controller="Tutorial"
       asp-action="TutorialPages"
       asp-route-id="2"
       asp-area="Help"
       class="px-5 py-2 border rounded-md transition bg-gray-800 text-white border-blue-600 shadow">
        Next
    </a>
</div>