<div class="text-center">
    <h1 class="text-7xl">Welcome to my site!</h1>
    <br/>
    <p>We offer tutorials and help with things</p>
    <br/>
    <p>For more info go to <a asp-action="Index" asp-area="Help" class="text-blue-300">Help</a></p>
</div>