<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
</head>
<body>
    <h1 class="py-10 mx-auto text-center text-5xl bg-gray-800 text-white">My Trip Log</h1>

    <div>
        @RenderBody()
    </div>
</body>
</html>
